.navbar {
    display: flex;
    justify-content:space-between;
    background-color: rgb(37, 91, 161);
    color: white;
    padding: 0 1rem;
}

.navbar .left {
    display: flex;
    align-items: center;
}
.navbar ul {
    display: flex;
    flex-direction: row;

}

.navbar ul li{
    margin: 0.5rem 0.5rem;
    list-style: none;
}